<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css"/>
  </head>
  <body>
    <script data-main="javascripts/main.js" src="javascripts/vendor/require.js"></script>
  </body>
</html>